@import 'dropdown';

// DROPDOWN
$dropdown-config: (
  layout-alignment: align,
  background-color: #fff,
  border-radius: 4,
  border-width: 1,
  border-color: #d9d9d9,
  spacing: normal,
  font-size: normal,
  // Font color of fields
) !default;

@include dropdown($dropdown-config...);
